body {
	margin: 0px;
	font-family: "Playfair Display", serif;
	background-color: #ebdacc;
	/* background-color: red; */
	color: #333;
	min-width: 100%;
}

.section-heading-container {
	display: flex;
	justify-content: center;
	text-align: center;
}

.nav {
	position: sticky;
	/* width: 100%; */
	background-color: #ebdacc;
	height: 50px;
	display: flex;
	justify-content: space-between;
	height: 4em;
	align-items: center;
	padding-left: 2em;
	padding-right: 2em;
	z-index: 3;
}
.nav-left,
.nav-right {
	display: flex;
	align-items: center;
}
.nav-item {
	margin-left: auto;
	padding: 8px 16px;
	font-size: 22px;
}
.nav-item img{
	max-width: 2em;
	max-height: 2em;
	padding: 0px;
}
#nav-logo{
	padding-right: 0px;
}
.nav-item a {
	display: inline;
	color: black;

	text-decoration: none;
	text-align: end;
}
.side-wave {
	background-color: #fdf8f9;
	position: relative;
	z-index: 2;
	margin-top: -133vh;
	margin-left: -10vw;
	min-height: 119vh;
	max-width: 45%;
	/* --mask:
		radial-gradient(121.38px at calc(100% - 171.6px) 50%, #000 99%, #0000 101%)
			0 calc(50% - 176px)/100% 352px,
		radial-gradient(121.38px at calc(100% + 83.6px) 50%, #0000 99%, #000 101%)
			calc(100% - 88px) 50%/100% 352px repeat-y;
	-webkit-mask: var(--mask);
	mask: var(--mask);
	rotate: 16deg; */

	--mask:
		radial-gradient(105.02px at calc(100% - 142.8px) 50%, #000 99%, #0000 101%)
			0 calc(50% - 102px)/100% 204px,
		radial-gradient(105.02px at calc(100% + 91.8px) 50%, #0000 99%, #000 101%)
			calc(100% - 51px) 50%/100% 204px repeat-y;
	-webkit-mask: var(--mask);
	mask: var(--mask);
}

#landing {
	/* position: absolute; */
	min-width: 100%;
	min-height: 120vh;
	text-align: center;
	background-position: left;
	background-image: url("C:\\Users\\ASUS\\source\\repos\\shweta\\invite_website\\couple.jpeg");
	overflow: clip;
}
.pill {
	color: #e2d9cc;
	background-color: #d93b59;
	width: 25%;
	padding: 123px 25px;
	border-radius: 280px;
	margin-left: 10%;
	margin-top: 3%;
	position: absolute;
	display: flow;
	min-height: 45vh;
	z-index: 5;
}

.pill .center {
	text-align: center;
}

.svg-container {
	width: 80%;
	height: 150px;
	resize: both;
	overflow: clip;
	/* border: 1px dashed #aaa; */
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -30%;
}
.pill svg {
	max-width: 100%;
	height: auto;
}
.pill .book {
	margin-top: -33px;
	width: 50px;
}
.pill p {
	margin: 10px;
	font-size: 14px;
}
h2 {
	/* font-size: 2em; */
	margin-bottom: 20px;
	color: #a0522d;
}

section #events,
#dress-code {
	background-color: #fffaf5;

	height: 85vh;
}
.btn-rsvp {
	background-color: #d93b59;
	margin: 5em 0 2em 0;
	width: 11em;
	height: 6em;
	border-radius: 3em;
}
.event-grid {
	padding: 3% 7%;
	/* display: grid; */
	justify-content: space-around;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: -11px;
	display: flex;
	height: 70%;
}

.event-card {
	/* background-color: #b7947e; */
	/* border: 1px solid #eee; */
	padding: 20px;
	/* border-radius: 1530px; */
	width: 19%;
	height: 51%;
	display: flow;
	justify-content: center;
	align-content: center;
	text-align: center;
	/* background-color: #ebdacc; */
	background-image: url("events-circle2.svg");
	background-position: center;
	background-size: cover;
}

.event-card div {
	width: 100%;
	/* border: black; */
	height: 100%;
	display: flow;
	justify-content: center;
	align-content: center;
	text-align: center;
}
.event-date {
	display: block;
	font-family: "Rochester", cursive;
	font-size: 4.2em;
}

.event-date sup {
	font-family: "Playfair Display", serif;
	font-size: 0.5em;
	font-weight: bold;
}

.event-text {
	display: block;
	font-family: "Playfair Display", serif;
	font-size: 1.5em;
	font-weight: bold;
}

.dress-code {
	padding: 20px;
	border-radius: 8px;
}
.dress-code-row {
	display: flex;
	justify-content: space-evenly;
}
.dress-code-event {
	max-width: 30%;
	text-align: center;
}
.dress-code-event h1 {
	font-family: "Rochester", cursive;
	text-align: center;
	font-weight: 100;
	margin-bottom: 0em;
}

#venue {
	background-color: #ebdacc;
	min-height: 100vh;
}

#venue .section-heading-container {
	margin-top: 2em;
}
.venue-content h1 {
	font-family: "Rochester", cursive;
	font-weight: 100;
}
.venue-content {
	text-align: center;
	font-weight: 100;
}

#venue-details {
	font-style: italic;
	margin: 2em 0em 2.7em;
}
#venue-map {
	width: 100%;
	display: flex;
	justify-content: center;
}
#venue-map iframe {
	border: 0;
	width: 80%;
	height: 60vh;
}
#guide {
	background-color: #ebdacc;
}
.guide-content {
	padding: 0 5%;
	width: 65%;
}
#flower-container {
	background-color: #fffaf5;
}
.box {
	/* margin-top: -276px; */
	/* height: 100px; */
	/* min-height: 170px; */
	background-color: #fffaf5;
	--mask:
		radial-gradient(223.06px at 50% 312.8px, #000 99%, #0000 101%)
			calc(50% - 272px) 0/544px 100%,
		radial-gradient(223.06px at 50% -176.8px, #0000 99%, #000 101%) 50%
			136px/544px 100% repeat-x;
	-webkit-mask: var(--mask);
	mask: var(--mask);
}
#lavendar {
	max-width: 100%;
	margin-top: 2em;
}
#rsvp {
	padding-top: 250px;
	margin-top: -186px;
	background-color: #f4f4f4;
	min-height: 60vh;
	padding-left: 5%;
	padding-bottom: 2em;
	/* width: 100%; */
}
#rsvp h2 {
	color: #d93b59;
	margin-top: 0;
}
#rsvp-content {
	display: flex;
	padding-top: 2em;
}
#rsvp-yap {
	width: 50%;
	padding-top: 2em;
	padding-left: 4em;
}
#rsvp-form-wrapper {
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 2em;
	text-align: center;
}
/* #rsvp-form-wrapper form {
	margin-left: auto;
	margin-right: auto;
} */
footer {
	text-align: center;
	padding: 40px 20px;
	font-size: 0.9em;
	color: #777;
}
#rsvp-form {
	margin-left: auto;
	margin-right: auto;
}
input,
textarea {
	font-size: medium;
	font-family: "Playfair Display", serif;
	width: 50%;
	padding: 1em;
	margin: 10px auto;
	border: 1px solid #ccc;
	border-radius: 4px;
}
button {
	background-color: #a0522d;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
#rsvp-btn {
	display: block;
	background-color: #fbf8f8;
	color: #d93b59;
	padding: 1em;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: large;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
}
#rsvp-btn-text {
	font-size: xx-large;
	font-family: "Playfair Display", serif;
	font-weight: bold;
}
#rsvp-btn:hover{
	background-color:#d93b59 ;
	color: #fbf8f8;
}

.event-popup {
	top: 50%;
	left: 25%;
	right: 20%;

	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 10; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.event-popup-content {
	background-color: #ebdacc;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 3em 5em;
	border: 1px solid #888;
	width: 50%; /* Could be more or less, depending on screen size */
	border-radius: 1em;
}

.close {
	color: black;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.event-popup-content .section-heading-container h2 {
	font-family: "Rochester", cursive;
}
footer {
	margin: 2em;

	color: #000;
}
