body {
	margin: 0px;
	font-family: "Playfair Display", serif;
	background-color: #eadac6;
	/* background-color: red; */
	color: #333;
	min-width: 100%;
}

.section-heading-container {
	display: flex;
	justify-content: center;
	text-align: center;
}

.nav {
	width: 100%;
	background-color: #b7947e;
	height: 50px;
	display: flex;
	justify-content: space-between;
}
.nav-left,
.nav-right {
	display: flex;
}
.nav-item {
	margin-left: auto;
	padding: 8px 16px;
	font-size: 22px;
}

.nav-item a {
	display: inline;
	color: black;

	text-decoration: none;
	text-align: end;
}


#landing {
	/* position: absolute; */
	min-width: 100%;
	min-height: 110vh;
	text-align: center;
	background-position: left;
	background-image: url("C:\\Users\\ASUS\\source\\repos\\shweta\\invite_website\\landing.jpg");
}
.pill {
	color: #e2d9cc;
	background-color: #d93b59;
	width: 25%;
	padding: 123px 25px;
	border-radius: 280px;
	margin-left: 10%;
	margin-top: 3%;
	position: absolute;
	display: flow;
	min-height: 45vh;
}

.pill .center {
	text-align: center;
}

.svg-container {
	width: 80%;
	height: 150px;
	resize: both;
	overflow: clip;
	/* border: 1px dashed #aaa; */
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -30%;
}
.pill svg {
	max-width: 100%;
	height: auto;
}
.pill .book {
	margin-top: -33px;
	width: 50px;
}
.pill p {
	margin: 10px;
	font-size: 14px;
}
h2 {
	font-size: 2em;
	margin-bottom: 20px;
	color: #a0522d;
}

section #events,
#dress-code {
	background-color: #fffaf5;

	height: 85vh;
}
.btn-rsvp {
	background-color: #d93b59;
	margin: 3em 0 2em 0;
	width: 13em;
	height: 6em;
	border-radius: 3em;
}
.event-grid {
	padding: 3% 6%;
	/* display: grid; */
	justify-content: space-around;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	display: flex;
	height: 70%;
}

.event-card {
	/* background-color: #b7947e; */
	/* border: 1px solid #eee; */
	padding: 20px;
	/* border-radius: 1530px; */
	width: 24%;
	height: 60%;
	display: flow;
	justify-content: center;
	align-content: center;
	text-align: center;
	/* background-color: #eadac6; */
	background-image: url("circle.png");
	background-position: center;
	background-size: cover;
}

.event-card div {
	width: 100%;
	/* border: black; */
	height: 100%;
	display: flow;
	justify-content: center;
	align-content: center;
	text-align: center;
}
.event-date {
	display: block;
	font-family: "Rochester", cursive;
	font-size: 3.2em;
}

.event-date sup {
	font-family: "Playfair Display", serif;
	font-size: 1em;
	font-weight: bold;
}

.event-text {
	display: block;
	font-family: "Playfair Display", serif;
	font-size: 2.1em;
}

.dress-code {
	padding: 20px;
	border-radius: 8px;
}
.dress-code-row {
	display: flex;
	justify-content: space-evenly;
}
.dress-code-event {
	max-width: 30%;
	text-align: center;
}
.dress-code-event h1 {
	font-family: "Rochester", cursive;
	text-align: center;
	font-weight: 100;
	margin-bottom: 0em;
}

#venue {
	background-color: #eadac6;
	min-height: 100vh;
}
.venue-content h1 {
	font-family: "Rochester", cursive;
	font-weight: 100;
}
.venue-content {
	text-align: center;
	font-weight: 100;
}
#venue-map {
	width: 100%;
	display: flex;
	justify-content: center;
}
#venue-map iframe {
	border: 0;
	width: 80%;
	height: 60vh;
}
#guide {
	background-color: #eadac6;
}
.guide-content {
	padding: 0 5%;
	width: 65%;
}
#flower-container {
	background-color: #fffaf5;
}
.box {
	/* margin-top: -276px; */
	/* height: 100px; */
	/* min-height: 170px; */
	background-color: #fffaf5;
	--mask:
		radial-gradient(223.06px at 50% 312.8px, #000 99%, #0000 101%)
			calc(50% - 272px) 0/544px 100%,
		radial-gradient(223.06px at 50% -176.8px, #0000 99%, #000 101%) 50%
			136px/544px 100% repeat-x;
	-webkit-mask: var(--mask);
	mask: var(--mask);
}
#lavendar {
	max-width: 100%;
}
#rsvp {
	padding-top: 250px;
	margin-top: -348px;
	background-color: #f4f4f4;
	min-height: 60vh;
	padding-left: 5%;
	padding-bottom: 2em;
	/* width: 100%; */
}
#rsvp h2 {
	color: #d93b59;
	margin-top: 0;
}
#rsvp-content {
	display: flex;
}
#rsvp-yap {
	max-width: 40%;
	padding: auto 5em;
	font-size: x-large;
}
#rsvp-form-wrapper {
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 2em;
	text-align: center;
}
/* #rsvp-form-wrapper form {
	margin-left: auto;
	margin-right: auto;
} */
footer {
	text-align: center;
	padding: 40px 20px;
	font-size: 0.9em;
	color: #777;
}
#rsvp-form {
	margin-left: auto;
	margin-right: auto;
}
input,
textarea {
	font-size: larger;
	font-family: "Playfair Display", serif;
	width: 50%;
	padding: 1em;
	margin: 10px auto;
	border: 1px solid #ccc;
	border-radius: 4px;
}
button {
	background-color: #a0522d;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
#rsvp-btn {
	display: block;
	background-color: #fbf8f8;
	color: #d93b59;
	padding: 1em;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: large;
	margin-left: auto;
	margin-right: auto;
}
footer {
	margin: 2em;
	
	color: #000;
}
